{{extend 'layout.html'}}
<table class="equidistant">
    <tr>
        <td valign="top">
        	<fieldset id="basic">
        		<legend>Basic</legend>
        		{{=response.basic or ''}}
        	</fieldset>
        </td>
        <td valign="top">
        	<fieldset id="options">
        		<legend>Options</legend>

        	</fieldset>
        </td>
        <td valign="top">
        	<fieldset id="detail">
        		<legend>Detail</legend>
        		{{=response.detail or ''}}
        	</fieldset>
        </td>
    </tr>
    <tr>
        <td colspan="3" valign="top">
        	<fieldset id="advanced">
        		<legend>Advanced</legend>
        	</fieldset>
        </td>
    </tr>
</table>
<div id="dialogs">
</div>